
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width-device-width"/>
</head>
<body>
    <div>
        <center>
            @using (Html.BeginForm("Index", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="File" id="File" />
                <input type="submit" value="Upload" />
            }

        </center>
    </div>
    <a href="@Url.Action("Profile","Account")" class="btn btn-default elements">Back &raquo;</a>
</body>