@{
    ViewBag.Title = "Objective";
}
<div class="container">
    <div class="jumbotron">
        <h1>@ViewBag.Title</h1>

        <br />
        <p>
            Our mission is to help students strengthen their skills in writing for any course across the curriculum through the provision of individual and small group writing consultations.
            Our tutorials are conducted by peer educators who assist in various modes of composition (comparative, exemplification, argumentative, etc.); as well as with brainstorming, thesis development, mechanics, organization; MLA, APA, and Chicago research documentation styles, Senior Capstone, and personal statements.

        </p>
        </div>
    </div>
