@{
    ViewBag.Title = "Contacts";
}
<h1>@ViewBag.Title</h1>

<br/>
<address>
    
    <strong>Writing Studio</strong>
        <br />
        W.C. Jason Library, Room 205<br />
        <abbr title="Phone">P:</abbr>
        302.857.6387
</address>

<Info>
    <strong>Supervisor : Malik Brown </strong><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:mbrown@desu.edu">Marketing@example.com</a><br />
    <strong>Director : Anna Cortese </strong> <span class="glyphicon glyphicon-envelope"></span>  <a href="mailto:acortese@desu.edu">Support@example.com</a><br />
    <strong>Assistant Director : Diane Sanders </strong> <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:dsanders@desu.edu">Marketing@example.com</a>
</Info>